apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-health-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-health-api
  template:
    metadata:
      labels:
        app: service-health-api
    spec:
      containers:
        - name: api
          image: service-health-api:1.0
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
