apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-health-api-v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-health-api
      version: v2
  template:
    metadata:
      labels:
        app: service-health-api
        version: v2
    spec:
      containers:
        - name: api
          image: service-health-api:v2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
